.form {
    width: 100%;
    max-width: 765px;
    margin: 0 0 55px;
    padding: 30px 96px 45px;
    background-color: #f5f5f5;
}

.form .section-title {
    margin-bottom: -3px;
}

.form__row {
    display: flex;
    align-items: flex-end;
}

.form__column {
    flex-grow: 1;
}

.form__column--right {
    text-align: right;
}

.form__column + .form__column {
    margin-left: 20px;
}

.form__group {
    margin-bottom: 15px;
}

.form__label,
.form__legend  {
    font-size: 14px;
}

.form__control {
    display: block;
    width: 100%;
    border: 1px solid transparent;
    font-family:"Roboto", Arial, Helvetica, sans-serif;
    background: #fff;
    padding: 10px;
}

textarea.form__control {
    min-height: 90px;
    resize: none;
}

.form__control:focus {
    border-color: #4b73b5;
    outline: 0;
}

.form__fildset {
    margin: 0;
    padding: 0;
    border: 0;
}

.form__radio {
    opacity: 0;
    position: absolute;
}

.form__radio + .form__label {
    position: relative;
    margin-right: 10px;
    padding-left: 30px;
}

.form__radio:focus + .form__label {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
}

.form__radio + .form__label::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid #4b73b5;
}

.form__radio + .form__label::after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    left: 7px;
    top: calc(50% - 3px);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #4b73b5;
}

.form__radio:checked + .form__label {
    color: #4b73b5;
}

.form__radio:checked + .form__label::after {
    opacity: 1;
}

.form__submit {
    position: relative;
    padding: 15px 48px 15px 19px;
    border-radius: 3px;
    border: 0;
    color: #fff;
    background-color: #4b73b5;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .3s, color .3s;
    letter-spacing: 2px;
}

.form__submit::before,
.form__submit::after {
    content: '';
    display: block;
    width: 15px;
    height: 14px;
    right: 20px;
    top: calc(50% - 7px);
    position: absolute;
    background-image: url('../img/icons/sprite.png');
    background-repeat: no-repeat;
} 

.form__submit::before {
    background-position: -10px -86px;
}

.form__submit::after {
    opacity: 0;
    background-size: 129px auto;
    background-position: -80px -8px;
    transition: opacity .3s;
}

.form__submit:hover,
.form__submit:focus {
    background-color: #fff;
    color: #4b73b5; 
}

.form__submit:hover::after,
.form__submit:focus::after {
    opacity: 1;
}