
.menu__list {
    display: flex;
    max-width: 497px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    list-style-type: none;
}

.menu__item {
    margin-bottom: 10px;
}

.menu__item + .menu__item {
    margin-left: 20px;
}

.menu__link {
    display: inline-block;
    position: relative;
    padding: 1px 0 0 35px;
    color: #4b73b5;  
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.7px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s;
}

.menu__link:visited {
    color: #4b73b5;  
}

.menu__link::before,
.menu__link::after {
    content: '';
    display: block;
    width: 23px; 
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../img/icons/sprite.png');
    background-repeat: no-repeat;
}

.menu__link::after {
    opacity: 0;
    transition: opacity .3s;
}

.menu__link:not([href]), 
.menu__link:hover {
    color: #221f1f;
}

.menu__link:not(:link)::after, 
.menu__link:hover::after {
    opacity: 1;
}

.menu__link--main::before {
    background-position: -96px -10px;
}

.menu__link--main::after {
    background-position: -96px -48px;
}

.menu__link--reviews::before {
    background-position: -10px -48px;
}

.menu__link--reviews::after {
    background-position: -50px -48px;
}

.menu__link--crew::before {
    background-position: -10px -10px;
}

.menu__link--crew::after {
    background-position: -53px -10px;
}
