.news {
    margin-bottom: 30px;
}

.news__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 10px;
    list-style-type: none;
}

.news__list + .pagination .pagination__list {
    margin-right: 130px;
}

.news__item {
    margin-bottom: 32px;
    flex-basis: 33%;
}

.news__item:nth-child(2n) {
    padding-left: 10px;
}

.news__item:not(:nth-child(3n)) .news__desc {
    padding-right: 13px;
}

.news__item:nth-child(3n) {
    padding-left: 15px;
}

.news__media {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    margin: 0 auto 39px;
    border-radius: 80px;
    overflow: hidden;
}

.news__media img {
    max-width: 100%;
}

.news__desc {
    flex-shrink: 1;
}

.news__date {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: #656464;
}

.news__title {
    margin: 0 0 5px;
    font-size: 18px;
    line-height: 1.16;
}

.news__text {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}