.socials {  
    text-align: center;
}

.socials__title {
    margin: 0 0 5px;
    font-size: 14px;
}

.socials__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}

.socials__item {
    margin-right: 10px;
}

.socilas__link {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color .3s;
    background-image: url('../img/icons/sprite.png');
    background-repeat: no-repeat;
    font-size: 0;
}

.socilas__link:hover {
    background-color:  #d2def3;
} 

.socilas__link--vk {
    background-position: -6px -114px;
}

.socilas__link--fb {
    background-position: -126px -36px;
}

.socilas__link--google {
    background-position: -42px -81px;
}

.socilas__link--twitter {
    background-position: -129px -5px;
}

.socilas__link--mail {
    background-position: -76px -81px;
}