.socials {  
    margin: 0 0 0 20px;
}

.socials__title {
    margin: 0 0 5px;
    font-size: 14px;
}

.socials__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.socials__item {
    margin-right: 10px;
}

.socilas__link {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color:  #d2def3;
    transition: background-color .3s;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}

.socilas__link:hover {
    background-color: #fff;
} 

.socilas__link--vk {
    background-image: url('../img/icons/socials/vk.png');
}

.socilas__link--fb {
    background-image: url('../img/icons/socials/fb.png');
}

.socilas__link--google {
    background-image: url('../img/icons/socials/google.png');
}

.socilas__link--twitter {
    background-image: url('../img/icons/socials/twitter.png');
}

.socilas__link--mail {
    background-image: url('../img/icons/socials/mail.png');
}