.tariff {
    display: flex;
    flex-grow: 1;
    margin-top: 9px;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 24px;
}

.tariff__link {
    flex-grow: 1;
    border: 1px solid #e8e9ed;
    padding: 20px 38px;
    text-decoration: none;
    color: inherit;
    transition: background-color .3s;
}

.tariff__link:hover {
    background-color: #e8e9ed;
} 

.tariff__label {
    margin-bottom: 20px;
}

.tariff__title {
    margin: 0 0 17px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tariff__desc {
    margin: 0px 0 7px;
    text-align: left;
}

.tariff__includes {
    margin: 0;
    text-align: left;
    list-style-type: none;
}

.tariff__includes > li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 25px;
}

.tariff__includes > li::before {
    position: absolute;
    top: 5px;
    left: -2px;
    content: '\25CF';
    font-size: 10px;
}

.tariff__price {
    margin: 0;
    font-size: 54px;
    line-height: 1.45;
}

.tariff__price > small {
    font-size: 30px;
}